<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<style>
		body {
			background-color: #dddd;
			color: #000;
			font-family: Arial, sans-serif;
			font-size: 14px;
			line-height: 1.5;
		}

		h1 {
			color: #fff;
			font-size: 28px;
			margin-bottom: 20px;
		}

		.container {
			padding: 50px;
			margin: 0 auto;
			max-width: 500px;
			text-align: center;
			background-color: #dddd;
			box-shadow: 0 0 10px rgba(0,0,0,0.3);
			border-radius: 10px;
		}

		.header {
			background-color: #ff0000;
			padding: 20px;
			border-radius: 10px 10px 0 0;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Error</h1>
		</div>
		<p>Invalid login. Please make sure your details are correct</p>
	</div>
</body>
</html>
